body{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #root{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right,rgb(221, 136, 136),rgb(119, 119, 211));
  }
  .mainHeader{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: 900;
    color: antiquewhite;
  }
  